<div *ngIf="products?.length>=1">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="bidType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Type </th>
            <td mat-cell *matCellDef="let element"> {{element.bidType}} </td>
        </ng-container>

        <ng-container matColumnDef="winningPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Winning Price </th>
            <td mat-cell *matCellDef="let element"> {{element.winningPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="maxBidPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Bid Price </th>
            <td mat-cell *matCellDef="let element"> {{element.maxBidPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="claimed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Claimed </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.claimed;else notClaimed">Yes</span>
                <!-- {{element.claimed}}  -->
                <ng-template #notClaimed>No</ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="getProductDetail(element.id)">View
                    Product</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10,15,20]" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="products?.length<1">
    <h4>No Winning Product Available</h4>
</div>
<!-- <div>
    {{bids['0']['productId']}}
</div> -->