<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <!-- <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-2"><img
                                src="https://static.scientificamerican.com/sciam/cache/file/92E141F8-36E4-4331-BB2EE42AC8674DD3_source.jpg" />
                        </div>
                        <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                    src="http://placekitten.com/200/126" /></a></li>
                        <li><a data-target="pic-2" data-toggle="tab"><img
                                    src="https://static.scientificamerican.com/sciam/cache/file/92E141F8-36E4-4331-BB2EE42AC8674DD3_source.jpg" /></a>
                        </li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                        <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                    </ul> -->
                    <div>
                        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                            <mdb-carousel-item>

                                <img style="height: 360px;width: 530px;" class="d-block"
                                    src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/120309-phones-buyer-s-guide-best-smartphones-2020-the-top-mobile-phones-available-to-buy-today-image1-eagx1ykift.jpg"
                                    alt="First slide">

                            </mdb-carousel-item>
                            <mdb-carousel-item>

                                <img style="height: 360px;width: 530px;" class="d-block"
                                    src="https://www.popsci.com/resizer/14IU04QEtA375_WZ7RSIHLe0Xyg=/760x570/filters:focal(600x450:601x451)/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/63LDCKHC4W6LV4XKGQVXH2PS2U.jpg"
                                    alt="First slide">
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.productName}}<p style="color:black;font-size:12px;">
                            {{productCategory.categoryName}}
                        </p>
                    </h3>

                    <div class="view">
                        <div>
                            <!-- <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> -->
                            <span><i class="fa fa-eye"></i> {{product.noOfViewers}} </span>
                            <span><span class="material-icons bidIcon">pan_tool</span> {{product.noOfBids}}

                            </span>
                        </div>
                        <!-- <span class="review-no">41 reviews</span> -->
                    </div>
                    <p class="product-description">{{product.description}}</p>
                    <!-- <h4 class="price">Min Bid Price: <span>Rs 180</span> Max Bid Price: <span>Rs 300</span></h4> -->
                    <!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> -->
                    <!-- <h4 class="price">Max Bid price: <span>$180</span></h4> -->
                    <!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> -->
                    <!-- <h5 class="sizes">sizes:
                        <span class="size" data-toggle="tooltip" title="small">s</span>
                        <span class="size" data-toggle="tooltip" title="medium">m</span>
                        <span class="size" data-toggle="tooltip" title="large">l</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5> -->
                    <!-- <h5 class="colors">colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5> -->
                    <!-- <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div> -->
                    <div>
                        <h4 class="price">Min Bid Price: <span>{{product.minBidPrice}}</span>, Max Bid Price:
                            <span>{{product.maxBidPrice}}</span>
                            <!-- , Winning Bid Price: <span style="color:orangered;">800</span> -->
                        </h4>
                    </div>
                    <!-- <div class="container"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <span class="timeTitle">Start Time: </span><span
                                    class="time">{{product.startDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </h4>
                            <h4>
                                <span class="timeTitle">End Time: </span> <span class="time">
                                    {{product.endDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </h4>
                            <!-- <h4>
                                <span class="timeTitle">Time left : </span> <span class="timeLeft">2020-10-30
                                    01:15:00</span>
                            </h4> -->
                        </div>
                        <div *ngIf="product.winnerId!=null" class="col-md-6">

                            <!-- <div class="card" >                              
                                <div class="view overlay">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                        alt="Card image cap">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>                              
                                <div class="card-body">                               
                                    <h4 class="card-title">Card title</h4>                                 
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Button</a>
                                </div>
                            </div> -->
                            <!-- <div></div> -->


                            <mat-card class="example-card winnerBackground">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                    <img mat-card-avatar
                                        src="{{product.winnerImageUrl}}"
                                        alt="">
                                    <mat-card-title>{{product.winnerName}}</mat-card-title>
                                    <!-- <mat-card-subtitle>Winner</mat-card-subtitle> -->
                                </mat-card-header>

                                <mat-card-content>
                                    <h5 style="font-weight: bold;color:green;">Winning Price: {{product.winningPrice}},
                                        Claimed: {{product.claimed}}</h5>
                                    <button mat-raised-button color="primary" (click)="viewWinnerProfile()">View
                                        Profile</button>
                                </mat-card-content>
                                <!-- <mat-card-actions>
                                    <button mat-button>View Profile</button>
                                     <button mat-button>SHARE</button>
                                </mat-card-actions> -->
                            </mat-card>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <mat-divider></mat-divider> -->

    <mat-tab-group class="tabs" dynamicHeight mat-stretch-tabs>
        <mat-tab label="Bids">
            <app-product-bids-tab [bids]="product.bids"></app-product-bids-tab>
            <!-- <app-addresses-tab ></app-addresses-tab> -->
        </mat-tab>
        <!-- <mat-tab label="Products Bidded">
            <app-bids-tab ></app-bids-tab>
        </mat-tab>
        <mat-tab label="Products Winned">
            <app-winning-products-tab >   </app-winning-products-tab>
        </mat-tab>
        <mat-tab label="Transaction"> Content 4 </mat-tab> -->
    </mat-tab-group>
</div>