.example-form {
  min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.container{
   margin-top: 15px;
}

.startTime{
  color: green;
  font-weight: bold;
}

.endTime{
  color: red;
  font-weight: bold;
}