.tp-container {
  // position: absolute;
  height: 100%;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: #eee;
}

.tp-sidenav {
  width: 200px;
  // position: sticky;
  // left:0;
  // position:static;
  //  position: relative;;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;

}

mat-sidenav-content {
  // position: absolute;
}

#container {
  position: relative;
}

#container>* {
  position: absolute;
}

mat-sidenav,mat-sidenav-content {
  margin-top: 60px;
}